ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    overflow: auto;
    position: static;
    top: 0;
    width: 100%;
    margin-bottom: 15px !important;
  }
  
 li a {
    display: block;
    color: #000;
    /* padding: 8px 16px; */
    text-decoration: none;
    float: left;
    background-color: lightgray;
    padding: 8px;
  }
  
  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
  }
body {
  font-family: sans-serif;
}

.active a {
  background-color: lime;
}
